# Google Gemini API Key (for LangChain SelfQueryRetriever LLM query parsing)
GEMINI_API_KEY=your_google_gemini_api_key_here

# Pinecone Cloud Vector Database Configuration
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX_NAME=ecommerce-products
PINECONE_ENVIRONMENT=us-east-1

# Langfuse LLM Observability (https://cloud.langfuse.com)
LANGFUSE_SECRET_KEY="sk-lf-9d0bf56a-9b3d-4f0d-81b3-e15a1d2dbe38"
LANGFUSE_PUBLIC_KEY="pk-lf-386d2f0f-9d87-4344-9805-f154f0518d75"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
