pandas
numpy
polars
tqdm
langchain-core
sentence-transformers
langchain-huggingface
langchain-google-genai
python-dotenv
langchain-pinecone
pinecone
langchain
langchain-community
lark
langchain-chroma
chromadb
fastapi
uvicorn
