sentence-transformers
langchain-huggingface
langchain-core
langchain
langchain-community
langchain-pinecone
pinecone
langchain-google-genai
python-dotenv
pandas
numpy
polars
pyarrow
tqdm
lark
fastapi
uvicorn
